# Python
__pycache__/
*.pyc
venv/
.env

# Data files
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# IDE & OS specific
.idea/
.vscode/
.DS_Store

# Notebook checkpoints
.ipynb_checkpoints